#main .document{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	width:200px;
	height:250px;
	/* border:1px solid black; */
	text-align:center;
}
svg{
	height:100%;
	cursor:pointer;
}
svg a{
	width:100%;
	height:100%;
}
svg:hover .letter{
	fill: #ff4e00 !important;
}
svg:hover .line{
	stroke: #ff4e00 !important;
}