<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ready-made document</title>
	<link rel="stylesheet" th:href="@{/styles/font.css}" media="screen">
	<link rel="stylesheet" th:href="@{/styles/index.css}" media="screen">
	<link rel="stylesheet" th:href="@{/styles/index_print.css}" media="print">
</head>
<body>
	<nav>
      <!--id를 쓰는게 안좋다고들 하는데,, 그럼 여기에서 div각각을 어떻게 찾아오는게 좋을까?-->
      <a class="title" href="#/introduction">ready-made document</a>
      <a class="login" href="#/login">login</a>
      <div class="copyright">&copy;sososimsim</div>
      <a class="contact" href="#/contact">contact</a>
    </nav>
    <div id="main">
      <div class="card-wrapper">
        <div class="card-name">
          <span class="top">who are</span>
          <span class="bottom">you</span>
        </div>
        <div id="personal"class="card">
          <!-- <div class="grain"></div> -->
          <div class="contents personal-info">
          	<form id="resume-personal-form" th:action="@{/resume/data/personal}" method="post">
	            <input type="text" name="name_ko" placeholder="이름을 알려주세요">
	            <input type="text" name="name_en" placeholder="영어이름은요?">
	            <input type="email" name="email" placeholder="메일 보낼 주소를 알려주세요">
	            <input type="text" name="phone" placeholder="그리고 전화번호도요!">
	            <input type="submit" value="next">
            </form>
          </div>
          <a href="#personal"></a>
          <div class="label personal">
            <span>personal</span>
          </div>
        </div>
        <div class="card">
          <!-- <div class="grain"></div> -->
          <div class="contents"></div>
          <a href="#education"></a>
          <div class="label education">
            <span>education</span>
          </div>
        </div>
        <div class="card">
          <!-- <div class="grain"></div> -->
          <div class="contents"></div>
          <a href="#experience"></a>
          <div class="label experience">
            <span>experience</span>
          </div>
        </div>
        <div class="card">
          <!-- <div class="grain"></div> -->
          <div class="contents"></div>
          <a href="#skills"></a>
          <div class="label skills">
            <span>skills</span>
          </div>
        </div>
      </div>
      <div class="print-button">
        <div class="grain"></div>
        <div class="label">print</div>
      </div>
    </div>
    <div class="login-modal">
    	<form id="login-form" method="post" th:action="@{/users/login}">
			<input id="email" type="email" name="email" placeholder="이메일을 입력해주세요">
			<input id="password" type="password" name="password" placeholder="패스워드를 입력해주세요">
			<button class="btn-login" type="submit" name="action">login</button>
			<a class="btn-join" th:href="@{#/users/form}">join</a>
		</form>
    </div>
    <div class="join-modal">
    	<form id="join-form" method="post" th:action="@{/users/join}">
    		<input id="email" type="text" name="name" placeholder="이름을 입력해주세요">
			<input id="email" type="email" name="email" placeholder="이메일을 입력해주세요">
			<input id="password" type="password" name="password" placeholder="패스워드를 입력해주세요">
			<button class="btn-join" th:href="@{/users/join}">join</button>
		</form>
    </div>
    <div id="print-part">
    	<h1 id="name"></h1>
    	<h1 id="email"></h1>
    </div>
    <script th:src="@{/lib/node_modules/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/lib/node_modules/director/build/director.js}"></script>
	<script th:src="@{/lib/validator.min.js}"></script>
	<script th:src="@{/scripts/ajax.js}"></script>
	<script th:src="@{/scripts/readymade.inputValidator.js}"></script>
	<script th:src="@{/scripts/readymade.inputSender.js}"></script>
	<script th:src="@{/scripts/app.js}"></script>
</body>
</html>
