<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ready-made document</title>
	<link rel="stylesheet" th:href="@{/styles/font.css}" media="screen">
	<link rel="stylesheet" th:href="@{/styles/nav.css}" media="screen">
	<link rel="stylesheet" th:href="@{/styles/resume.css}" media="screen">
	<link rel="stylesheet" th:href="@{/styles/index_print.css}" media="print">
</head>
<body>
	<nav>
      <a class="title" href="/documents">&#60; my documents</a>
      <a class="login" href="#/login" th:if="${session.user == null}">login</a>
      <a class="login" href="/users/logout" th:if="${session.user != null}" th:text="logout"></a>
      <div class="copyright">&copy;sososimsim</div>
      <a class="contact" href="#/contact">contact</a>
    </nav>

    <div id="main">
      <div class="card-wrapper">
        <div class="card-name">
          <span class="top">who are</span>
          <span class="bottom">you</span>
        </div>
        <div id="personal" class="card selected-card">
          <!-- <div class="grain"></div> -->
          <div class="contents personal-info">
          	<form id="resume-personal-form" th:if="${session.user != null}" th:action="@{/resume/data/personal}" method="post">
	            <input type="text" name="name_ko" placeholder="이름을 알려주세요">
	            <input type="text" name="name_en" placeholder="영어이름은요?">
	            <input type="email" name="email" th:value="${session.user.email}" placeholder="메일 보낼 주소를 알려주세요">
	            <input type="text" name="phone" placeholder="그리고 전화번호도요!">
	            <input type="submit" value="다음 단계로">
            </form>
          </div>
          <a href="#personal"></a>
          <div class="label personal">
            <span>personal</span>
          </div>
        </div>
        <div id="education" class="card">
          <!-- <div class="grain"></div> -->
          <div class="contents education">
          	<form id="resume-education-form" th:if="${session.user != null}" th:action="@{/resume/data/education}" method="post">
	            <input type="text" name="name" placeholder="학교(or교육기관) 이름이 뭔가요?">
	            <input type="text" name="major" placeholder="전공은?">
	            <div class="state">
		            <select name="state">
		            	<option value="졸업">졸업</option>
		            	<option value="휴학">휴학</option>
		            	<option value="재학">재학</option>
		            	<option value="중퇴">중퇴</option>
		            </select>
	            </div>
	           	<div class="period">
		           	<select name="start_year">
		           		<option value="2016">2016</option>
		           		<option value="2015">2015</option>
		           		<option value="2014">2014</option>
		           		<option value="2013">2013</option>
		           		<option value="2012">2012</option>
		           		<option value="2011">2011</option>
		           		<option value="2010">2010</option>
		           		<option value="2009">2009</option>
		           		<option value="2008">2008</option>
		           		<option value="2007">2007</option>
		           		<option value="2006">2006</option>
		           		<option value="2005">2005</option>
		           		<option value="2004">2004</option>
		           		<option value="2003">2003</option>
		           		<option value="2002">2002</option>
		           		<option value="2001">2001</option>
		           		<option value="2000">2000</option>
		           		<option value="1999">1999</option>
		           		<option value="1998">1998</option>
		           		<option value="1997">1997</option>
		           		<option value="1996">1996</option>
		           		<option value="1995">1995</option>
		           		<option value="1994">1994</option>
		           		<option value="1993">1993</option>
		           	</select>
		           	<label>년 부터</label>
		            <select name="end_year">
		           		<option value="2016">2016</option>
		           		<option value="2015">2015</option>
		           		<option value="2014">2014</option>
		           		<option value="2013">2013</option>
		           		<option value="2012">2012</option>
		           		<option value="2011">2011</option>
		           		<option value="2010">2010</option>
		           		<option value="2009">2009</option>
		           		<option value="2008">2008</option>
		           		<option value="2007">2007</option>
		           		<option value="2006">2006</option>
		           		<option value="2005">2005</option>
		           		<option value="2004">2004</option>
		           		<option value="2003">2003</option>
		           		<option value="2002">2002</option>
		           		<option value="2001">2001</option>
		           		<option value="2000">2000</option>
		           		<option value="1999">1999</option>
		           		<option value="1998">1998</option>
		           		<option value="1997">1997</option>
		           		<option value="1996">1996</option>
		           		<option value="1995">1995</option>
		           		<option value="1994">1994</option>
		           		<option value="1993">1993</option>
		           	</select>
	           		<label>년 까지</label>
	           	</div>
	           	<div class="button">
	           		<input type="button" value="추가하기">
		            <input type="submit" value="다음 단계로">	           	
	           	</div>
            </form>
          </div>
          <a href="#education"></a>
          <div class="label education">
            <span>education</span>
          </div>
        </div>
        <div id="experience" class="card">
          <!-- <div class="grain"></div> -->
          <div class="contents experience">
          	<form id="resume-experience-form" th:if="${session.user != null}" th:action="@{/resume/data/education}" method="post">
	            <input type="text" name="name" placeholder="회사/프로젝트 이름">
	            <input type="text" name="description" placeholder="프로젝트 설명">
	            <div class="period">
		           	<select name="start_year">
		           		<option value="2016">2016</option>
		           		<option value="2015">2015</option>
		           		<option value="2014">2014</option>
		           		<option value="2013">2013</option>
		           		<option value="2012">2012</option>
		           		<option value="2011">2011</option>
		           		<option value="2010">2010</option>
		           		<option value="2009">2009</option>
		           		<option value="2008">2008</option>
		           		<option value="2007">2007</option>
		           		<option value="2006">2006</option>
		           		<option value="2005">2005</option>
		           		<option value="2004">2004</option>
		           		<option value="2003">2003</option>
		           		<option value="2002">2002</option>
		           		<option value="2001">2001</option>
		           		<option value="2000">2000</option>
		           		<option value="1999">1999</option>
		           		<option value="1998">1998</option>
		           		<option value="1997">1997</option>
		           		<option value="1996">1996</option>
		           		<option value="1995">1995</option>
		           		<option value="1994">1994</option>
		           		<option value="1993">1993</option>
		           	</select>
		           	<select name="start_month">
		           		<option value="01">01</option>
		           		<option value="02">02</option>
		           		<option value="03">03</option>
		           		<option value="04">04</option>
		           		<option value="05">05</option>
		           		<option value="06">06</option>
		           		<option value="07">07</option>
		           		<option value="08">08</option>
		           		<option value="09">09</option>
		           		<option value="10">10</option>
		           		<option value="11">11</option>
		           		<option value="12">12</option>
		           	</select>
		           	<label>부터</label>
		            <select name="end_year">
		           		<option value="2016">2016</option>
		           		<option value="2015">2015</option>
		           		<option value="2014">2014</option>
		           		<option value="2013">2013</option>
		           		<option value="2012">2012</option>
		           		<option value="2011">2011</option>
		           		<option value="2010">2010</option>
		           		<option value="2009">2009</option>
		           		<option value="2008">2008</option>
		           		<option value="2007">2007</option>
		           		<option value="2006">2006</option>
		           		<option value="2005">2005</option>
		           		<option value="2004">2004</option>
		           		<option value="2003">2003</option>
		           		<option value="2002">2002</option>
		           		<option value="2001">2001</option>
		           		<option value="2000">2000</option>
		           		<option value="1999">1999</option>
		           		<option value="1998">1998</option>
		           		<option value="1997">1997</option>
		           		<option value="1996">1996</option>
		           		<option value="1995">1995</option>
		           		<option value="1994">1994</option>
		           		<option value="1993">1993</option>
		           	</select>
	           		<select name="end_month">
		           		<option value="01">01</option>
		           		<option value="02">02</option>
		           		<option value="03">03</option>
		           		<option value="04">04</option>
		           		<option value="05">05</option>
		           		<option value="06">06</option>
		           		<option value="07">07</option>
		           		<option value="08">08</option>
		           		<option value="09">09</option>
		           		<option value="10">10</option>
		           		<option value="11">11</option>
		           		<option value="12">12</option>
		           	</select>
		           	<label>까지</label>
	           	</div>
	            <input type="text" name="link" placeholder="참고링크(옵션)">
	            <div class="button">
	           		<input type="button" value="추가하기">
		            <input type="submit" value="다음 단계로">	           	
	           	</div>
            </form>
          </div>
          <a href="#experience"></a>
          <div class="label experience">
            <span>experience</span>
          </div>
        </div>
        <div id="skills" class="card">
          <!-- <div class="grain"></div> -->
          <div class="contents skills">
          	<form id="resume-skills-form" th:if="${session.user != null}" th:action="@{/resume/data/skills}" method="post">
	            
	            <input type="checkbox" name="Android" value="Android"><label>Android</label>
	            <input type="checkbox" name="iOS" value="iOS"><label>iOS</label>
	            <input type="checkbox" name="C++" value="C%2B%2B"><label>C++</label>
	            <input type="checkbox" name="Java" value="Java"><label>Java</label>
	            <input type="checkbox" name="Spring" value="Spring"><label>Spring</label>
	            <input type="checkbox" name="PHP" value="PHP"><label>PHP</label>
	            <input type="checkbox" name="Javascript" value="Javascript"><label>Javascript</label>
	            <input type="checkbox" name="NodeJS" value="NodeJS"><label>NodeJS</label>
	            <input type="checkbox" name="AngularJS" value="AngularJS"><label>AngularJS</label>
	            <input type="checkbox" name="Python" value="Python"><label>Python</label>
	            <input type="checkbox" name="Ruby" value="Ruby"><label>Ruby</label>
	            <input type="checkbox" name="MySQL" value="MySQL"><label>MySQL</label>
	            <input type="checkbox" name="MongoDB" value="MongoDB"><label>MongoDB</label>
	            <input type="checkbox" name="AWS" value="AWS"><label>AWS</label>
	            
	            <input type="submit" value="저장하기">	
            </form>
          </div>
          <a href="#skills"></a>
          <div class="label skills">
            <span>skills</span>
          </div>
        </div>
      </div>
      <div class="print-button" th:if="${session.user != null}">
        <div class="grain"></div>
        <div class="label">print</div>
      </div>
    </div>

    <div id="print-part">
    	<div class="outline left"></div>
    	<div class="outline top"></div>
    	<div class="outline right"></div>
    	<div class="outline bottom"></div>
    	<section id="personal-part">
    		<div class="name_en"></div><!-- SHINYOUNG PARK -->
    		<div class="speciality"></div><!-- frontend developer -->
    		<div class="name_ko"></div><!-- 박신영 -->
    		<div class="email"></div>
    		<div class="phone"></div>
    	</section>
    	<section id="education-part">
    		<div class="section-title">
    			<div class="line"></div>
    			<div class="name"><span>EDUCATION</span></div>
    		</div>
    		<div class="education clearfix">
    			<div class="period"></div>
    			<div class="name"></div>
    		</div>
    		<div class="education clearfix">
    			<div class="period"></div><!-- 2014-2016 -->
    			<div class="name"></div><!-- NHN NEXT WEB UI [재학] -->
    		</div>
    	</section>
    	<section id="experience-part">
    		<div class="section-title">
    			<div class="line"></div>
    			<div class="name"><span>EXPERIENCE</span></div>
    		</div>
    		<div class="experience clearfix">
    			<div class="period"></div><!-- 2013.03 - 2014.03 -->
    			<div class="name"></div><!-- one moment -->
    			<div class="description"></div> <!-- 사진에서 추출한 색으로 메시지를 쓰고 블라블라 -->
    			<div class="link"></div><!-- www.github.com/fairesy/one-moment -->
    		</div>
    		<div class="experience clearfix">
    			<div class="period"></div>
    			<div class="name"></div>
    			<div class="description"></div>
    			<div class="link"></div>
    		</div>
    		<div class="experience clearfix">
    			<div class="period"></div>
    			<div class="name"></div>
    			<div class="description"></div>
    			<div class="link"></div>
    		</div>
    	</section>
    	<section id="skills-part">
    		<div class="section-title">
    			<div class="line"></div>
    			<div class="name"><span>PROFESSIONAL SKILLS</span></div>
    		</div>
    	</section>
    </div>
    <script th:src="@{/lib/jquery.min.js}"></script>
	<script th:src="@{/lib/director.min.js}"></script>
	<script th:src="@{/lib/validator.min.js}"></script>
	<script th:src="@{/scripts/ajax.js}"></script>
	<script th:src="@{/scripts/readymade.controller.js}"></script>
	<script th:src="@{/scripts/readymade.inputValidator.js}"></script>
	<script th:src="@{/scripts/readymade.inputSender.js}"></script>
	<script th:src="@{/scripts/readymade.labelFilter.js}"></script>
	<script th:src="@{/scripts/document.js}"></script>
</body>
</html>
